.containerApp {
    display: block;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.text {
    margin-right: 20px;
    margin-left: 20px;
}
